working-directory = "/Users/cedrick/Pictures/photos/astro/042521";
libraw-settings : 
{
  mul_0 = 1.0;
  mul_2 = 1.0;
  bright = 1.0;
  auto = 1;
  cam_wb = 0;
  auto_wb = 0;
  user_qual = 2;
  gamm_0 = 1.0;
  gamm_1 = 1.0;
  user_black = 0;
};
debayer-settings : 
{
  use_bayer_header = true;
  bayer_pattern = 0;
  roworder_top_down = true;
  debayer_algo = 8;
  x_bayer_offset = 0;
  y_bayer_offset = 0;
};
prepro-settings : 
{
  cfa = false;
  equalize_cfa = true;
  fix_xtrans = false;
  xtrans_af = ( 0, 0, 0, 0 );
  xtrans_sample = ( 0, 0, 0, 0 );
  bias_lib = "";
  use_bias_lib = false;
  dark_lib = "";
  use_dark_lib = false;
  flat_lib = "";
  use_flat_lib = false;
};
registration-settings : 
{
  method = 0;
};
stacking-settings : 
{
  method = 0;
  rejection = 4;
  sigma_low = 3.0;
  sigma_high = 3.0;
  linear_low = 5.0;
  linear_high = 5.0;
  percentile_low = 3.0;
  percentile_high = 3.0;
  mem_mode = 0;
  maxmem = 0.9;
  maxmem_gb = 10.0;
};
compression-settings : 
{
  fits_enabled = false;
  fits_method = 0;
  fits_quantization = 16.0;
  fits_hcompress_scale = 4.0;
};
astrometry-settings : 
{
  messier = true;
  ngc = true;
  ic = true;
  ldn = true;
  sh2 = true;
  stars = true;
};
photometry-settings : 
{
  gain = 2.3;
  inner-radius = 20.0;
  outer-radius = 30.0;
  minval = 0;
  maxval = 60000;
};
misc-settings : 
{
  swap_directory = "/var/folders/52/3b00zfqj7md8v6515qpwf2d80000gn/T";
  first_start_0_99_8 = false;
  extension = ".fit";
  FITS_type = 1;
  selection_guides = 0;
  copyright = "";
  confirm_quit = false;
  scripts_warning = false;
  check_requires = true;
  show_thumbnails = true;
  thumbnail_size = 256;
  theme = 0;
  font_scale = 100.0;
  icon_symbolic = false;
  rgb_aladin = false;
  lang = "";
  remember_winpos = false;
  scripts_paths = ( "/usr/local/share/siril/scripts", "/Users/cedrick/.siril/scripts", "/Users/cedrick/siril/scripts" );
  main_w_pos = ( 289, 0, 991, 664 );
  is_maximized = false;
  check_update_at_startup = true;
};
